{% load staticfiles %}
  <!--<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>

<script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>-->

  <!--<script src="{% static 'bower_components/seiyria-bootstrap-slider/js/bootstrap-slider.js' %}"></script>-->
  <script src="{% static 'bower_components/angular/angular.js' %}"></script>



  <script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
  <!--<script src="{% static 'bower_components/angular-animate/angular-animate.min.js' %}"></script>
  <script src="{% static 'bower_components/angular-sanitize/angular-sanitize.min.js' %}"></script>
  <script src="{% static 'bower_components/ngstorage/ngStorage.js' %}"></script>
  <script src="{% static 'bower_components/angular-aria/angular-aria.js' %}"></script>-->

  <script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>






  <script src="{% static 'app.js' %}"></script>
  <script src="{% static 'myApp.config.js' %}"></script>
  <script src="{% static 'myApp.routes.js' %}"></script>

  <script src="{% static 'javascripts/index/primary.js' %}"></script>
  <script src="{% static 'javascripts/index/controller/primary.controller.js' %}"></script>
  <script src="{% static 'javascripts/index/services/primary.services.js' %}"></script>
  

